<ion-tabs class="floating-tabs">
  <ion-tab-bar slot="bottom" class="pattern-tab-bar">
    <ion-tab-button tab="inicio" href="/tabs/inicio" class="main-tab">
      <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.home' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="guias"
      href="/tabs/guias"
      class="main-tab"
      [disabled]="!isAdmin"
      [class.tab-disabled]="!isAdmin">
      @if (isAdmin) {
        <ion-icon name="document-text-outline" aria-hidden="true"></ion-icon>
      } @else {
        <ion-icon name="lock-closed-outline" aria-hidden="true"></ion-icon>
      }
      <ion-label>{{ 'tabs.guides' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equipo" href="/tabs/equipo" class="main-tab">
      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.team' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" href="/tabs/cuenta" class="cuenta-tab-btn">
      <span class="cuenta-initials" aria-hidden="true">{{ initials }}</span>
      <ion-label>{{ 'tabs.account' | t }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
